.row {
  padding: 0 0.9375rem; }

ul {
  list-style-type: disc;
  color: inherit; }
  ul ol {
    list-style-type: decimal; }
    ul ol ol {
      list-style-type: lower-alpha; }
      ul ol ol ol {
        list-style-type: lower-roman; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal;
  color: inherit; }
  ol ul {
    list-style-type: circle; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: lower-roman; }

:focus {
  outline: none !important; }

/* BEGIN SmartGravity HEADER */
.sg-default-layout {
  padding: 2.5rem 0 3.5rem; }

#error {
  margin: 2.5rem auto 3.5rem;
  max-width: 66rem;
  text-align: center; }

#header {
  border-bottom: 1px solid; }
  #header #logo {
    float: left;
    padding: 0;
    margin-right: 0.5rem; }
    #header #logo img {
      float: left;
      width: 48px;
      height: 100%; }
  #header #sg-header-title h3 {
    text-decoration: none;
    letter-spacing: 0;
    line-height: 48px;
    margin: 6px 6px 6px 0;
    padding: 0;
    float: left; }

.sg-header {
  padding-top: 1.2rem;
  padding-bottom: 0.5rem; }

/* END SmartGravity HEADER */
/* BEGIN SmartGravity BACKGROUNDS */
.sg-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.sg-background-fixed {
  background-attachment: fixed; }

/* END SmartGravity BACKGROUNDS */
/* BEGIN SmartGravity Mainmenu Navigation */
#sg-mainmenu {
  float: right;
  margin-top: 0.6rem; }
  #sg-mainmenu .menu > li > a {
    padding: .4rem 0.8rem;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 0.55rem; }
    #sg-mainmenu .menu > li > a > i {
      margin: 0 0.25rem 0 0.4rem; }
  #sg-mainmenu .menu.submenu > li > a {
    margin-left: 0;
    border: none; }
  #sg-mainmenu .dropdown.menu .submenu {
    border-radius: 3px; }
    #sg-mainmenu .dropdown.menu .submenu.first-sub {
      left: 0.55rem; }
  #sg-mainmenu .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a {
    padding-right: 1.7rem; }
    #sg-mainmenu .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
      content: "\f078";
      font: normal normal normal 14px/1 FontAwesome;
      border: none;
      width: auto;
      height: auto;
      top: 7px;
      right: 7px;
      margin-top: 0;
      margin-left: 0; }
  #sg-mainmenu .dropdown.menu .is-dropdown-submenu-parent.opens-left .submenu {
    left: auto;
    right: 0; }

#sg-mainmenu-mobile .menu.nested {
  margin-left: 0.75rem; }
  #sg-mainmenu-mobile .menu.nested > li > a {
    padding: 0.5rem;
    font-size: 0.9rem; }
    #sg-mainmenu-mobile .menu.nested > li > a::before {
      content: "\f054";
      font: normal normal normal 14px/1 FontAwesome;
      border: none;
      width: auto;
      height: auto;
      top: 7px;
      left: 0;
      margin-top: 0;
      margin-left: 0; }

.sg-header .mobile-nav-toggle {
  cursor: pointer;
  font-size: 2rem;
  margin: 0.7rem 0; }

/* Mobilemenu Icon substitute when FontAwesome is disabled */
.sg-mobilemenu-icon {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0;
  line-height: 36px;
  margin: 6px;
  padding: 0; }

/* END SmartGravity Mainmenu Navigation */
/* BEGIN SmartGravity IN PAGE NAVIGATION */
.top-bar#sg-in-page-navigation, .top-bar#sg-in-page-navigation ul {
  display: inline-block;
  padding: 0; }

#sg-in-page-navigation {
  width: 100%;
  border-bottom: 1px solid; }
  #sg-in-page-navigation .menu > li {
    display: inline-block; }

.sg-in-page-menu {
  width: 100%; }

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #sg-in-page-navigation .menu > li > a {
    padding: 0.4rem 0.8rem; } }
/* END SmartGravit IN PAGE NAVIGATION */
/* BEGIN TAXONOMY TAGS */
.tags a {
  border: 1px solid;
  padding: 1px 6px;
  border-radius: 3px;
  font-size: 0.85rem;
  margin: 0 2px; }

/* END TAXONOMY TAGS */
/* BEGIN BREADCRUMBS */
.sg-breadcrumb {
  border-bottom: 1px solid; }

#body #breadcrumbs {
  padding-left: 0; }
  #body #breadcrumbs span {
    padding: 0 0.5rem; }
    #body #breadcrumbs span:first-child {
      padding: 0 0.5rem; }

#breadcrumbs span:first-child {
  padding-left: 1rem; }

/* END BREADCRUMBS */
/* BEGIN SIMPLESEARCH */
.simplesearch {
  margin: 0 auto;
  max-width: 66rem;
  padding: 3rem 0.9375rem; }

/* END SIMPLESEARCH */
/* BEGIN SmartGravity MAIN CONTENT */
.sg-content {
  padding: 3rem 0; }
  .sg-content::before, .sg-content::after {
    content: ' ';
    display: table; }
  .sg-content::after {
    clear: both; }

.sg-blog {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem; }

.blog-content-item {
  margin: 2.5rem auto; }

.list-item {
  margin-bottom: 2.5rem; }

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #listing.column, #listing.columns, #item.column, #item.columns, #sidebar.column, #sidebar.columns {
    padding-left: 0;
    padding-right: 0; } }
.blog-header-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.blog-content-item img, .list-item img {
  margin: 1rem 0 1.5rem; }

pre {
  padding: 1rem 1.2rem 1.3rem;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-radius: 3px;
  margin: 1rem 0; }
  pre code {
    font-weight: normal;
    background-color: transparent;
    border: 0;
    padding: 0; }

code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: normal;
  font-weight: normal;
  padding: 0.1rem 0.4rem;
  border-bottom: 1px dotted;
  border-radius: 3px; }

.sidebar-content {
  margin-bottom: 0.9375rem; }

/* END SmartGravity MAIN CONTENT */
/* BEGIN SmartGravity GALLERY STYLES */
.sg-gallery-row, .sg-columns-row {
  margin: 0 -0.9375rem; }

/* END SmartGravity GALLERY STYLES */
.sg-column-block {
  padding: 0.9375rem;
  margin: 0 0 0.9375rem;
  border-radius: 3px; }

/* BEGIN SmartGravity FOOTER */
#footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid; }
  #footer img.logo {
    width: 132px;
    height: auto; }

/* END SmartGravity FOOTER */
/* BEGIN SmartGravity UTILITIES */
.sg-center {
  display: block;
  margin: 0 auto;
  text-align: center; }

img.sg-align-left, img.sg-align-right, img.sg-align-center {
  margin-top: 0.3rem;
  margin-bottom: 1rem; }
img.sg-align-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

/* from medium size up */
@media screen and (min-width: 40em) {
  img.sg-align-left {
    float: left;
    max-width: 50%;
    margin-right: 1rem; }
  img.sg-align-right {
    float: right;
    max-width: 50%;
    margin-left: 1rem; } }
.hide-title h2.sg-title {
  display: none; }

.center-title h2.sg-title {
  text-align: center; }

.title-spacer-small h2.sg-title {
  padding: 0.5rem 0 1rem; }
.title-spacer-medium h2.sg-title {
  padding: 1rem 0 2rem; }
.title-spacer-large h2.sg-title {
  padding: 2rem 0 3rem; }

.nomarginall {
  margin: 0 !important; }

.nomargintop {
  margin-top: 0 !important; }

.nomarginright {
  margin-right: 0 !important; }

.nomarginbottom {
  margin-bottom: 0 !important; }

.nomarginleft {
  margin-left: 0 !important; }

.nopaddingall {
  padding: 0 !important; }

.nopaddingtop {
  padding-top: 0 !important; }

.nopaddingright {
  padding-right: 0 !important; }

.nopaddingbottom {
  padding-bottom: 0 !important; }

.nopaddingleft {
  padding-left: 0 !important; }

/* small only covers small only */
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .small-nomarginall {
    margin: 0 !important; }

  .small-nomargintop {
    margin-top: 0 !important; }

  .small-nomarginright {
    margin-right: 0 !important; }

  .small-nomarginbottom {
    margin-bottom: 0 !important; }

  .small-nomarginleft {
    margin-left: 0 !important; }

  .small-nopaddingall {
    padding: 0 !important; }

  .small-nopaddingtop {
    padding-top: 0 !important; }

  .small-nopaddingright {
    padding-right: 0 !important; }

  .small-nopaddingbottom {
    padding-bottom: 0 !important; }

  .small-nopaddingleft {
    padding-left: 0 !important; } }
/* medium covers medium size and up */
@media screen and (min-width: 40em) {
  .medium-nomarginall {
    margin: 0 !important; }

  .medium-nomargintop {
    margin-top: 0 !important; }

  .medium-nomarginright {
    margin-right: 0 !important; }

  .medium-nomarginbottom {
    margin-bottom: 0 !important; }

  .medium-nomarginleft {
    margin-left: 0 !important; }

  .medium-nopaddingall {
    padding: 0 !important; }

  .medium-nopaddingtop {
    padding-top: 0 !important; }

  .medium-nopaddingright {
    padding-right: 0 !important; }

  .medium-nopaddingbottom {
    padding-bottom: 0 !important; }

  .medium-nopaddingleft {
    padding-left: 0 !important; } }
/* large covers large size and up */
@media screen and (min-width: 64em) {
  .large-nomarginall {
    margin: 0 !important; }

  .large-nomargintop {
    margin-top: 0 !important; }

  .large-nomarginright {
    margin-right: 0 !important; }

  .large-nomarginbottom {
    margin-bottom: 0 !important; }

  .large-nomarginleft {
    margin-left: 0 !important; }

  .large-nopaddingall {
    padding: 0 !important; }

  .large-nopaddingtop {
    padding-top: 0 !important; }

  .large-nopaddingright {
    padding-right: 0 !important; }

  .large-nopaddingbottom {
    padding-bottom: 0 !important; }

  .large-nopaddingleft {
    padding-left: 0 !important; } }
.sg-spacer-small .sg-content {
  padding: 1rem 0; }
  .off-canvas .sg-spacer-small .sg-content {
    padding: 1rem 0; }

.sg-spacer-medium .sg-content {
  padding: 2rem 0; }
  .off-canvas .sg-spacer-medium .sg-content {
    padding: 2rem 0; }

.sg-spacer-large .sg-content {
  padding: 5rem 0; }
  .off-canvas .sg-spacer-large .sg-content {
    padding: 5rem 0; }

.sg-spacer-xlarge .sg-content {
  padding: 7rem 0; }
  .off-canvas .sg-spacer-xlarge .sg-content {
    padding: 7rem 0; }

.sg-spacer-xxlarge .sg-content {
  padding: 9rem 0; }
  .off-canvas .sg-spacer-xxlarge .sg-content {
    padding: 9rem 0; }

/* END SmartGravity UTILITIES */
/* BEGIN NESTED BLOCKQUOTES STYLE OVERRIDES */
blockquote {
  position: relative;
  display: block;
  padding: 0 0 0 1.1875rem;
  border-width: 0 0 0 10px;
  border-style: solid; }
  blockquote blockquote {
    position: static;
    display: block; }
  blockquote p {
    font-size: 1.1rem; }
  blockquote cite {
    display: block;
    text-align: right;
    font-size: 1.2rem; }

blockquote > blockquote > blockquote {
  margin: 0; }
  blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem; }
  blockquote > blockquote > blockquote > p {
    margin-left: -5.45rem;
    border-style: solid;
    border-width: 1px 1px 1px 10px; }
  blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -7.25rem;
    border-style: solid;
    border-width: 1px 1px 1px 10px; }
  blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -9.05rem;
    border-style: solid;
    border-width: 1px 1px 1px 10px; }
  blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -10.85rem;
    border-style: solid;
    border-width: 1px 1px 1px 10px; }

/* END NESTED BLOCKQUOTES STYLE OVERRIDES */
/* BEGIN SmartGravity HEADER */
#header {
  border-color: #f6f6f6; }
  #header #sg-header-title h3 {
    color: #1F1D0F; }

/* END SmartGravity HEADER */
/* BEGIN SmartGravity Mainmenu Navigation */
#sg-mainmenu .menu > li > a, #sg-mainmenu-mobile .menu > li > a {
  border-color: #cacaca;
  background-color: #fff; }
  #sg-mainmenu .menu > li > a:hover, #sg-mainmenu-mobile .menu > li > a:hover {
    background-color: #f6f6f6; }
#sg-mainmenu .menu > li.active > a, #sg-mainmenu-mobile .menu > li.active > a {
  background-color: #f6f6f6; }

.mobile-nav-toggle, .sg-mobilemenu-icon {
  color: #1E8CC7; }
  .mobile-nav-toggle:hover, .sg-mobilemenu-icon:hover {
    color: #54b3e5; }

/* END SmartGravity Mainmenu Navigation */
/* BEGIN TAXONOMY TAGS */
.tags a {
  border-color: #cacaca;
  background-color: #fff;
  color: #1E8CC7; }
  .tags a:hover {
    color: #54b3e5; }
  .tags a.active {
    background-color: #f6f6f6; }

/* END TAXONOMY TAGS */
/* BEGIN BREADCRUMBS */
.sg-breadcrumb {
  border-color: #f6f6f6; }

/* END BREADCRUMBS */
/* BEGIN SmartGravity MAIN CONTENT */
.top-bar#sg-in-page-navigation {
  background-color: #fff;
  color: #777; }
  .top-bar#sg-in-page-navigation a {
    color: #777; }
  .top-bar#sg-in-page-navigation ul {
    background-color: transparent; }

#sg-in-page-navigation {
  border-color: #cacaca; }
  #sg-in-page-navigation a.active {
    color: #1E8CC7; }

pre {
  background: #f6f6f6;
  border-color: #cacaca; }
  pre code {
    background-color: transparent; }

code {
  background-color: #f6f6f6;
  border-color: #cacaca; }

/* END SmartGravity MAIN CONTENT */
/* BEGIN SmartGravity FOOTER */
#footer {
  border-color: #cacaca; }

/* END SmartGravity FOOTER */
/* BEGIN SmartGravity COLORS */
.sg-highlight-dark, .sg-highlight-dark .sg-content, .sg-color-light-gray, .sg-color-medium-gray {
  color: #1F1D0F; }
  .sg-highlight-dark a, .sg-highlight-dark .sg-content a, .sg-color-light-gray a, .sg-color-medium-gray a {
    color: rgba(31, 29, 15, 0.75); }
    .sg-highlight-dark a:hover, .sg-highlight-dark .sg-content a:hover, .sg-color-light-gray a:hover, .sg-color-medium-gray a:hover {
      color: rgba(31, 29, 15, 0.9); }

.column-highlight-dark .sg-column-block, .column-highlight-dark .sg-content .sg-column-block, .column-color-light-gray .sg-column-block, .column-color-medium-gray .sg-column-block {
  color: #1F1D0F; }
  .column-highlight-dark .sg-column-block a, .column-highlight-dark .sg-content .sg-column-block a, .column-color-light-gray .sg-column-block a, .column-color-medium-gray .sg-column-block a {
    color: rgba(31, 29, 15, 0.75); }
    .column-highlight-dark .sg-column-block a:hover, .column-highlight-dark .sg-content .sg-column-block a:hover, .column-color-light-gray .sg-column-block a:hover, .column-color-medium-gray .sg-column-block a:hover {
      color: rgba(31, 29, 15, 0.9); }

.sg-highlight-light, .sg-highlight-light .sg-content, .sg-color-dark-gray, .sg-color-yellow, .sg-color-orange, .sg-color-blue, .sg-color-red, .sg-color-purple, .sg-color-green {
  color: #fff; }
  .sg-highlight-light a, .sg-highlight-light .sg-content a, .sg-color-dark-gray a, .sg-color-yellow a, .sg-color-orange a, .sg-color-blue a, .sg-color-red a, .sg-color-purple a, .sg-color-green a {
    color: rgba(255, 255, 255, 0.75); }
    .sg-highlight-light a:hover, .sg-highlight-light .sg-content a:hover, .sg-color-dark-gray a:hover, .sg-color-yellow a:hover, .sg-color-orange a:hover, .sg-color-blue a:hover, .sg-color-red a:hover, .sg-color-purple a:hover, .sg-color-green a:hover {
      color: rgba(255, 255, 255, 0.9); }

.column-highlight-light .sg-column-block, .column-highlight-light .sg-content .sg-column-block, .column-color-dark-gray .sg-column-block, .column-color-yellow .sg-column-block, .column-color-orange .sg-column-block, .column-color-blue .sg-column-block, .column-color-red .sg-column-block, .column-color-purple .sg-column-block, .column-color-green .sg-column-block {
  color: #fff; }
  .column-highlight-light .sg-column-block a, .column-highlight-light .sg-content .sg-column-block a, .column-color-dark-gray .sg-column-block a, .column-color-yellow .sg-column-block a, .column-color-orange .sg-column-block a, .column-color-blue .sg-column-block a, .column-color-red .sg-column-block a, .column-color-purple .sg-column-block a, .column-color-green .sg-column-block a {
    color: rgba(255, 255, 255, 0.75); }
    .column-highlight-light .sg-column-block a:hover, .column-highlight-light .sg-content .sg-column-block a:hover, .column-color-dark-gray .sg-column-block a:hover, .column-color-yellow .sg-column-block a:hover, .column-color-orange .sg-column-block a:hover, .column-color-blue .sg-column-block a:hover, .column-color-red .sg-column-block a:hover, .column-color-purple .sg-column-block a:hover, .column-color-green .sg-column-block a:hover {
      color: rgba(255, 255, 255, 0.9); }

.sg-color-light-gray {
  background-color: #f6f6f6; }

.sg-color-medium-gray {
  background-color: #cacaca; }

.sg-color-dark-gray {
  background-color: #444; }

.sg-color-yellow {
  background-color: #ffb300; }

.sg-color-orange {
  background-color: #ee7933; }

.sg-color-blue {
  background-color: #0183a8; }

.sg-color-red {
  background-color: #ef4a44; }

.sg-color-purple {
  background-color: #874f9a; }

.sg-color-green {
  background-color: #00b060; }

.column-color-light-gray .sg-column-block {
  background-color: #f6f6f6; }
.column-color-medium-gray .sg-column-block {
  background-color: #cacaca; }
.column-color-dark-gray .sg-column-block {
  background-color: #444; }
.column-color-yellow .sg-column-block {
  background-color: #ffb300; }
.column-color-orange .sg-column-block {
  background-color: #ee7933; }
.column-color-blue .sg-column-block {
  background-color: #0183a8; }
.column-color-red .sg-column-block {
  background-color: #ef4a44; }
.column-color-purple .sg-column-block {
  background-color: #874f9a; }
.column-color-green .sg-column-block {
  background-color: #00b060; }

.button.light {
  color: #1F1D0F;
  background-color: #fff; }
  .button.light:hover, .button.light:focus {
    color: rgba(31, 29, 15, 0.75);
    background-color: rgba(255, 255, 255, 0.75); }
.button.dark {
  color: #fff;
  background-color: #1F1D0F; }
  .button.dark:hover, .button.dark:focus {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(31, 29, 15, 0.75); }
.button.hollow.light {
  color: #fff;
  border-color: #fff;
  background-color: transparent; }
  .button.hollow.light:hover, .button.hollow.light:focus {
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75); }
.button.hollow.dark {
  color: #1F1D0F;
  border-color: #1F1D0F;
  background-color: transparent; }
  .button.hollow.dark:hover, .button.hollow.dark:focus {
    color: rgba(31, 29, 15, 0.75);
    border-color: rgba(31, 29, 15, 0.75); }

blockquote {
  border-color: #f6f6f6; }
  blockquote p {
    color: #8a8a8a; }
  blockquote cite {
    color: #8a8a8a; }

blockquote > blockquote > blockquote > p {
  border-color: #F0AD4E;
  border-radius: 3px;
  background: #FCF8F2;
  color: #df8a13; }
  blockquote > blockquote > blockquote > p a {
    color: #b06d0f; }
    blockquote > blockquote > blockquote > p a:hover {
      color: #f2b866; }
blockquote > blockquote > blockquote > blockquote > p {
  border-color: #D9534F;
  background: #FDF7F7;
  color: #b52b27; }
  blockquote > blockquote > blockquote > blockquote > p a {
    color: #8b211e; }
    blockquote > blockquote > blockquote > blockquote > p a:hover {
      color: #de6764; }
blockquote > blockquote > blockquote > blockquote > blockquote > p {
  border-color: #5BC0DE;
  background: #F4F8FA;
  color: #28a1c5; }
  blockquote > blockquote > blockquote > blockquote > blockquote > p a {
    color: #1f7e9a; }
    blockquote > blockquote > blockquote > blockquote > blockquote > p a:hover {
      color: #70c8e2; }
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
  border-color: #5CB85C;
  background: #F1F9F1;
  color: #3d8b3d; }
  blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p a {
    color: #2d672d; }
    blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p a:hover {
      color: #6ec06e; }

/* END SmartGravity COLORS */
