{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first %}

		{% if blog_image %}
		<div class="blog-header-image" style="background-image: url({{ blog_image.url }});">
			<div class="row sg-center sg-highlight-light">
				<div class="sg-content">
		{% else %}
		<div class="blog-header">
			<div class="row sg-center">
				<div class="sg-content">
		{% endif %}
					{{ page.content }}
				</div>
			</div>
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				<div class="sg-breadcrumb">
					<div class="row">
						{% include 'partials/breadcrumbs.html.twig' %}
					</div>
				</div>
			{% endif %}
		<div class="sg-blog">
			<div class="row">
				<div id="listing" class="medium-8 columns medium-nopaddingleft">
					{% for child in collection %}
				        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
				    {% endfor %}

	                {% if config.plugins.pagination.enabled and collection.params.pagination %}
	                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
	                {% endif %}
				</div>
				<div id="sidebar" class="medium-4 columns medium-nopaddingright">
					{% include 'partials/sidebar.html.twig' with {'blog':page} %}
				</div>
			</div>
		</div>
	{% endblock %}

{% endembed %}


